@model Category
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

@if (Model != null)
{

    <div class="container-fluid">
        <h1>Delete</h1>
        <form method="post">
            <div class="form-group">
                <h2>Name</h2>
                <p>@Model.Name</p>

                <h2>Icon</h2>
                <p>@Html.Raw(Model.Icon)</p>

            </div>
            
        </form>
    </div>
}
